*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
   
}
main{
    display: flex;
    background-color:  #F8FAFC;
}

section.login{

    width:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 112px;
}
.dados{
    margin-top: 208px ;
    padding: 8px;
}
.logo{
    margin-top:40px;
}

h1{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
}
h4{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 40px;
}

label{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color:#1E293B;
}
.email{
    padding-bottom: 16px;
}
input{
    align-items: center;
    width: 384px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    order: 1;
}


button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
button.senha{
    
    justify-content: space-between;
    padding-left: 230px;
    background: none;
    border: none;
    color: #7C3AED;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

button.entrar{
    transform: none;
    color: #FFFFFF;
    background: #7C3AED;
    border: none;
    border-radius: 4px ;
    width: 384px;
    height: 56px;

    margin-top: 32px;
    margin-bottom: 32px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
}
label[for=inscrever]{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
button.inscreva{
    justify-content: space-between;
    background: none;
    border: none;
    color: #7C3AED;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
#lateral{
    width: 50%;

}



